<!DOCTYPE html>
<html lang="en">

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">


    <%include navigation-other.ejs%>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">


        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="panel-heading">
                <h4>Kategoriler</h4>
                <div class="btn pull-right">
                  <a target="_self" href="/admin/categories/add?language=<%=languageQuery%>"><button type="button"
                      class="btn btn-success">Ekle</button></a>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Kategori Başlığı</th>
                        <th>Komutlar</th>
                        <th>Icon Yükle</th>
                        <th>Icon</th>
                      </tr>
                    </thead>

                    <tbody>
                      <%for(var i=0;i<categories.length;i++){%>
                      <tr>
                        <td><%=categories[i].title%></td>
                        <td><a target="_self" href="/admin/categories/<%=categories[i]._id%>/commands"
                            class="btn btn-info btn-icon-split">
                            <span class="icon text-white-50">
                              <i class="fas fa-info-circle"></i>
                            </span>
                            <span class="text">Komutlar</span>
                          </a></td>

                        <td>
                          <form action="/admin/categories/<%=categories[i]._id%>/upload?language=<%=languageQuery%>" formtarget="_blank" method="post" enctype="multipart/form-data">
                            <input type="submit" value="Upload">
                            <input type="file" accept="image/*" name="photo" >

                          </form>
                        </td>
                        <td><img src="<%=categories[i].iconPath%>" width="200" height="200"/></td>
                      </tr>
                      <%}%>
                  </tbody>
                

                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->


      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>

</body>

</html>